<div class="board">
  <div *ngFor="let row of rows" class="row">
    <div *ngFor="let square of row"
         class="square"
         [class.light]="square.light"
         [class.dark]="!square.light"
         [class.selected]="selectedSquare?.name === square.name"
         (click)="onSquareClick(square)">
      <img *ngIf="getPieceImage(square)"
           [src]="getPieceImage(square)"
           [alt]="square.piece || ''"
           class="piece">
      <span class="name">{{ square.name }}</span>
    </div>
  </div>
</div>
